html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 6px solid #bbbbbb;
  border-right-color: black;
  animation: spin linear 0.75s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
